# Prerequisites

*.d



# Object files

*.o

*.ko

*.obj

*.elf



# Linker output

*.ilk

*.map

*.exp



# Precompiled Headers

*.gch

*.pch



# Libraries

*.lib

*.a

*.la

*.lo



# Shared objects (inc. Windows DLLs)

*.dll

*.so

*.so.*

*.dylib



# Executables

*.exe

*.out

*.app

*.i*86

*.x86_64

*.hex



# Debug files

*.dSYM/

*.su

*.idb

*.pdb



# Kernel Module Compile Results

*.mod*

*.cmd

.tmp_versions/

modules.order

Module.symvers

Mkfile.old

dkms.conf

#iar
*.ewt
*.dep
Debug/
Release/
settings/

!*Z20K14XM_flashloader.out

!*JLinkDevices.xml
!*Z20K14XM_32KB_IfrFlash.elf
!*Z20K14XM_128KB_DataFlash.elf
!*Z20K14XM_2MB_MainFlash.elf

# KEIL
*.scvd
JLinkLog.txt
Objects/
*.uvguix*

#GCC
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

